<div class="swiper-slide swiper-slide-{{custom_classes}}"  style="background-image: url('{{background_image}}')">
    <div class="swiper-image">
        <div class="swiper-image-inner swiper-image-right swiper-image-two">
        <p class="title">
          {{ title }}
        </p>
        <div class="description">
          {{ description | raw }}
        </div>
        <a href="{{cta_url}}">{{cta_title}}</a>
      </div>
    </div>
  </div>

